
<div class="notification-layout">

  
<app-navbar></app-navbar>
  <main class="main-content">

    <header class="topbar">
      <div>
        <h1>Notifications</h1>
        <p>View your latest university updates</p>
      </div>

      <div class="unread-badge">
        {{ unreadCount }} Unread
      </div>
    </header>

    <div *ngIf="loading" class="message">
      Loading notifications...
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <section *ngIf="!loading">

      <div class="notification-card">

        <div
          *ngFor="let item of notifications"
          class="notification-item"
          [class.unread]="!item.isRead"
        >

          <div class="notification-icon">
            !
          </div>

          <div class="notification-content">
            <p>{{ item.message }}</p>

            <span>
              {{ item.createdAt | date:'MMM d, y, h:mm a' }}
            </span>
          </div>

          <button
            *ngIf="!item.isRead"
            class="read-button"
            (click)="markAsRead(item)"
          >
            Mark as Read
          </button>

          <span
            *ngIf="item.isRead"
            class="read-status"
          >
            Read
          </span>

        </div>

        <div
          *ngIf="notifications.length === 0"
          class="empty-state"
        >
          No notifications found.
        </div>

      </div>

    </section>

  </main>

</div>